# tensormsa_gui - exclude NPM modules 
/static/node_modules/
/templates/npm-debug.log
npm-debug.log
#/static/js/constants/EnvConstants.js
./static/dist/TensorMSA.js
./static/dist/TensorMSA.js.map
./static/js/constants/EnvConstants.js
